node_modules
orbitdb
/orbit-db
orbit-db-stores
lib
peerbit/
.vscode
/keystore/
keystore-test
**/__tests__/**/tmp
/tmp
**/tmp
**/public/peerbit/**
nginx_secrets
nginx
.env
/dist
**/.pw-user-data/*
test-results
.pw-user-data