html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* override the default anchoring */
    overflow-anchor: var(--overflow-anchor, auto);
}


code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Define your primary color shades using oklch() */
    --color-primary-50: oklch(0.97 0.014 254.604);
    --color-primary-100: oklch(0.932 0.032 255.585);
    --color-primary-200: oklch(0.882 0.059 254.128);
    --color-primary-300: oklch(0.809 0.105 251.813);
    --color-primary-400: oklch(0.707 0.165 254.624);
    --color-primary-500: oklch(0.623 0.214 259.815);
    --color-primary-600: oklch(0.546 0.245 262.881);
    --color-primary-700: oklch(0.488 0.243 264.376);
    --color-primary-800: oklch(0.424 0.199 265.638);
    --color-primary-900: oklch(0.379 0.146 265.522);
    --color-primary-950: oklch(0.282 0.091 267.935);



    /* Define your secondary color shades using oklch() */
    --color-secondary-50: oklch(0.987 0.026 102.212);
    --color-secondary-100: oklch(0.973 0.071 103.193);
    --color-secondary-200: oklch(0.945 0.129 101.54);
    --color-secondary-300: oklch(0.905 0.182 98.111);
    --color-secondary-400: oklch(0.852 0.199 91.936);
    --color-secondary-500: oklch(0.795 0.184 86.047);
    --color-secondary-600: oklch(0.681 0.162 75.834);
    --color-secondary-700: oklch(0.554 0.135 66.442);
    --color-secondary-800: oklch(0.476 0.114 61.907);
    --color-secondary-900: oklch(0.421 0.095 57.708);
}

@tailwind utilities;



/*
@layer base {
    input {
        @apply font-sans,
        /
        dark: text-white;
        @apply bg-netrual-50,
        bg-neutral-950;

    }


}*/

@layer utilities {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}

@layer base {

    input {
        @apply text-black;
        @apply dark:text-white;
        @apply bg-white;
        @apply dark:bg-black;
    }

    body {
        @apply text-neutral-950;
        @apply dark:text-neutral-50;
        @apply bg-neutral-50;
        @apply dark:bg-neutral-900;

        /* check if there is a global bg css  */
    }

    body:not(.user-is-tabbing) button:focus {
        outline: none;
    }

    span {
        @apply text-neutral-950;
        @apply dark:text-neutral-50;
    }

    /* Base styling for headers */
    h1,
    h2,
    h3,
    h4,
    h5 {
        line-height: 1.2;
        margin: 0.5em 0;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        margin-top: 0;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    /* Individual header styles */
    h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 0.6em;
    }

    h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5em;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    h4 {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 0.5em;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 400;
        margin-bottom: 0.4em;
    }

    hr {
        /* Remove default border */
        height: 1px;
        /* Set the thickness */
        margin: 2rem 0;
        /* Vertical spacing to separate sections */
    }

    hr.faded {
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0),
                rgba(0, 0, 0, 0.75),
                rgba(0, 0, 0, 0));
    }

    /* scrollbar color */
    /* Narrow scrollbar track */
    ::-webkit-scrollbar {
        width: 6px;
        /* Adjust the width as desired */
        background: var(--mono-shade3);
    }

    /* Scrollbar thumb with semi-transparent default state and smooth transition */
    ::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.5);
        /* 50% opacity */
        transition: background-color 0.3s ease;
    }

    /* On hover, increase opacity */
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(136, 136, 136, 0.8);
        /* 80% opacity */
    }

    ::-webkit-scrollbar-corner {

        background: transparent
    }
}

@property --bg-angle {
    inherits: false;
    initial-value: 0deg;
    syntax: "<angle>";
}

/**
   * To animate the gradient, we set the custom property to 1 full
   * rotation. The animation starts at the default value of `0deg`.
   */
@keyframes spin {
    to {
        --bg-angle: 360deg;
    }
}

@layer components {

    /* Example fonts */
    .comic-font {
        font-family: "Comic Neue", cursive;
    }

    .ganja-font {
        font-family: "Gamja Flower", sans-serif;
    }

    /* Basic icon color */
    .icon {
        @apply text-neutral-950 dark:text-neutral-50;
    }

    /* Generic button styling */
    .btn {
        @apply inline-flex items-center justify-center rounded cursor-pointer select-none;
        @apply text-neutral-800 dark:text-neutral-200;
        @apply transition-all duration-200;
    }

    .btn:hover {
        @apply bg-primary-200 dark:bg-primary-400;
    }

    .btn:active {
        @apply bg-primary-400 dark:bg-primary-600;
    }

    /* Narrow focus ring or outline for accessibility */
    /*  .btn:focus {
        @apply outline-none;
    } */

    .btn-unfocus-immediately {
        @apply focus:outline-none;
    }

    .btn:disabled,
    .btn[disabled] {
        @apply opacity-50 cursor-not-allowed pointer-events-none;
    }

    /* Elevated button style */
    .btn-elevated {
        /* btn cpy alias from @apply btn */
        @apply inline-flex items-center justify-center rounded cursor-pointer select-none;
        @apply text-neutral-800 dark:text-neutral-200;
        @apply transition-all duration-200;


        @apply border border-solid border-neutral-600 dark:border-neutral-400;
        box-shadow: 0 4px #999;
    }

    /* Disabled state for elevated buttons */
    .btn-elevated:disabled,
    .btn-elevated[disabled] {
        @apply opacity-50 cursor-not-allowed pointer-events-none;
        /* Optionally remove box-shadow or other active styles */
        box-shadow: none;
    }

    .btn-elevated:active {
        box-shadow: 0 1px #666 !important;
        transform: translateY(4px) !important;
    }

    /* Toggle button style */
    .btn-toggle {
        @apply border border-solid border-neutral-600 dark:border-neutral-400;
        box-shadow: 0 4px #999;
        outline: none;
    }



    .btn-toggle[data-state="on"] {
        @apply bg-primary-400 dark:bg-primary-600;
        box-shadow: 0 1px #666 !important;
        transform: translateY(4px) !important;
    }

    .btn-toggle-flat {
        box-shadow: 0 0px
    }

    .btn-toggle-flat[data-state="on"] {
        box-shadow: 0 0px #666 !important;
        transform: translateY(0px) !important;
    }

    .btn-toggle:focus {
        outline: none;
    }

    /* Icon button base class (adds minimal padding, sets text color, etc.) */
    .btn-icon {
        /* btn cpy alias from @apply btn */
        @apply inline-flex items-center justify-center rounded cursor-pointer select-none;
        @apply text-neutral-800 dark:text-neutral-200;
        @apply transition-all duration-200;

        @apply py-2 px-2;
        /* This helps ensure there's some clickable area around the icon */
    }

    /* Disabled state for icon buttons */
    .btn-icon:disabled,
    .btn-icon[disabled] {
        @apply opacity-50 cursor-not-allowed pointer-events-none;
    }

    /* ========== Button Container Size Classes ========== */
    .btn-xs {
        @apply py-[0.5rem] px-1 text-xs;
        line-height: 1
    }


    .btn-sm {
        @apply py-1 px-2 text-sm;
    }

    .btn-md {
        @apply py-2 px-4 text-base;
    }

    .btn-lg {
        @apply py-3 px-6 text-lg;
    }

    /* ========== Icon Size Classes ========== */
    .btn-icon-sx>* {
        @apply w-2 h-2;
        /* e.g., 8×8 px */
    }

    .btn-icon-sm>* {
        @apply w-4 h-4;
        /* e.g., 16×16 px */
    }

    .btn-icon-md>* {
        @apply w-6 h-6;
        /* e.g., 24×24 px */
    }

    .btn-icon-lg>* {
        @apply w-8 h-8;
        /* e.g., 32×32 px */
    }

    /* Example of secondary button style */
    .btn-secondary {
        /* btn cpy alias from @apply btn */
        @apply inline-flex items-center justify-center rounded cursor-pointer select-none;
        @apply text-neutral-800 dark:text-neutral-200;
        @apply transition-all duration-200;

        @apply py-2 px-4 rounded;
        @apply text-neutral-700 dark:text-neutral-300;
        @apply border border-neutral-600 dark:border-neutral-400 border-solid;
        @apply transition-all duration-200;
        box-shadow: 0 3px #999;
    }

    .btn-secondary:hover {
        @apply bg-primary-50 dark:bg-primary-800;
        @apply border border-primary-200 dark:border-primary-600;
    }

    .btn-secondary:active {
        @apply bg-primary-100 dark:bg-primary-700;
        @apply border border-primary-300 dark:border-primary-700;
        box-shadow: 0 2px #666;
        transform: translateY(2px);
    }

    .btn-secondary:focus {
        @apply outline-none ring-2 ring-primary-300 dark:ring-primary-500;
    }

    .btn-bouncy {
        @apply transform transition duration-200 hover:scale-110 active:scale-125
    }



    /* Sample menu item style */
    .menu-item {
        @apply flex items-center w-full p-2 text-neutral-800 dark:text-neutral-200;
        @apply hover:bg-primary-200 dark:hover:bg-primary-400;
        cursor: pointer;
    }

    .menu-item:hover {
        @apply bg-primary-200 dark:bg-primary-400;
    }

    .menu-item:active {
        @apply bg-primary-400 dark:bg-primary-600;
    }

    .menu-item:focus {
        @apply bg-primary-200 dark:bg-primary-400;
    }

    .menu-item[data-disabled] {
        @apply text-neutral-400 dark:text-neutral-600 cursor-not-allowed;
    }

    .switch-root {
        width: 42px;
        height: 25px;
        background-color: var(--black-a9);
        border-radius: 9999px;
        position: relative;
        box-shadow: 0 2px 10px var(--black-a7);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 2px black;


        &:focus {
            box-shadow: 0 0 0 2px black;
        }

        &[data-state="checked"] {
            @apply bg-primary-400 dark:bg-primary-600;
        }
    }




    .switch-thumb {
        display: block;
        width: 21px;
        height: 21px;
        @apply bg-black dark:bg-white;
        border-radius: 9999px;
        box-shadow: 0 2px 2px var(--black-a7);
        transition: transform 100ms;
        transform: translateX(2px);
        will-change: transform;

        &[data-state="checked"] {
            transform: translateX(19px);
        }


        &[data-disabled] {
            @apply opacity-50 cursor-not-allowed;
        }
    }

    .radio-group-root {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .radio-group-item {
        background-color: white;
        width: 25px;
        height: 25px;
        border-radius: 100%;
        box-shadow: 0 2px 10px var(--black-a7);
    }

    .radio-group-item:hover {
        background-color: var(--violet-3);
    }

    .radio-group-item:focus {
        box-shadow: 0 0 0 2px black;
    }

    .radio-group-indicator {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .radio-group-indicator::after {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: var(--violet-11);
    }



    /* Example for a dropdown menu with animation */
    .dropdown-menu-responsive {
        animation-duration: 0.6s;
        animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
        z-index: 1000;
    }

    .dropdown-menu-responsive[data-side="top"] {
        animation-name: slideUp;
    }

    .dropdown-menu-responsive[data-side="bottom"] {
        animation-name: slideDown;
    }


    .pulse {
        animation: pulseAnimate 1s infinite ease-in-out;
    }

    .bounce {
        animation: bounceAnimate 1s infinite ease-in-out;
    }


    /* Added new styles for the typing indicator and animated circles */
    .typing {
        display: block;
        width: 60px;
        height: 30px;
        border-radius: 20px;
        margin: 0;
        display: flex;
        justify-content: center;
        z-index: 1;
        align-items: center;
        @apply bg-neutral-100 dark:bg-neutral-900;
    }

    .typing-circle {
        display: block;
        border-radius: 50%;
        @apply bg-neutral-400 dark:bg-neutral-600;
        margin: 3px;
    }

    .typing-circle.scaling {
        animation: typing 1000ms ease-in-out infinite;
        animation-delay: 3600ms;
    }

    .typing-circle.scaling-demure {
        animation: typing-demure 1000ms ease-in-out infinite;
        animation-delay: 3600ms;
    }

    .typing-circle.bouncing {
        animation: bounce 1000ms ease-in-out infinite;
        animation-delay: 3600ms;
    }

    .typing-circle:nth-child(1) {
        animation-delay: 0ms;
    }

    .typing-circle:nth-child(2) {
        animation-delay: 333ms;
    }

    .typing-circle:nth-child(3) {
        animation-delay: 666ms;
    }

    /* Container for your content with “animated border” behavior */
    .animated-border {
        /* default/fallback */
        position: relative;
        --corner-color: theme('colors.gray.400');
    }

    .animated-border.focused {
        --corner-color: theme('colors.primary.500');
    }

    .animated-border.unfocused {
        --corner-color: theme('colors.gray.400');
    }




    /* Base styles for each corner container */
    .animated-border .corner {
        position: absolute;
        z-index: 19;
        width: 18px;
        height: 18px;
    }

    /* The quarter “arc” for each corner */
    .animated-border .corner .arc {
        display: block;
        width: 100%;
        height: 100%;
        /* Only two borders will be visible for the arc */
        animation: pulsex 2.5s infinite ease-in-out;
    }

    /* Top-left corner (inside) */
    .animated-border .corner.top-left {
        top: 0;
        left: 0;
        /* Instead of moving outward with translate(-50%, -50%), this inset positions it inside */
        transform: translate(10%, 10%);

    }

    /* Top-right corner (inside) */
    .animated-border .corner.top-right {
        top: 0;
        right: 0;
        transform: translate(-10%, 10%);
    }

    /* Bottom-left corner (inside) */
    .animated-border .corner.bottom-left {
        bottom: 0;
        left: 0;
        transform: translate(10%, -10%);
    }

    /* Bottom-right corner (inside) */
    .animated-border .corner.bottom-right {
        bottom: 0;
        right: 0;
        transform: translate(-10%, -10%);
    }


    /* Top-left corner */
    .animated-border .corner.top-left .arc {
        border-top: 4px solid var(--corner-color);
        border-left: 4px solid var(--corner-color);
        border-top-left-radius: 4px;
    }

    /* Top-right corner */
    .animated-border .corner.top-right .arc {
        border-top: 4px solid var(--corner-color);
        border-right: 4px solid var(--corner-color);
        border-top-right-radius: 4px;
    }

    /* Bottom-left corner */
    .animated-border .corner.bottom-left .arc {
        border-bottom: 4px solid var(--corner-color);
        border-left: 4px solid var(--corner-color);
        border-bottom-left-radius: 4px;
    }

    /* Bottom-right corner */
    .animated-border .corner.bottom-right .arc {
        border-bottom: 4px solid var(--corner-color);
        border-right: 4px solid var(--corner-color);
        border-bottom-right-radius: 4px;
    }



    .arc {
        filter: opacity(0.5);

        .dark & {
            filter: opacity(0.8);
        }
    }

    .safe-area-bottom {

        :root:not( :has(input:focus-visible,
                textarea:focus-visible,
                [contenteditable]:focus-visible)) & {
            padding-bottom: env(safe-area-inset-bottom, 0);
        }
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .hide-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Pulse animation makes the corner arc expand slightly while reducing in opacity */
    @keyframes pulsex {

        0%,
        100% {
            transform: scale(1);

        }

        50% {
            transform: scale(1.2);

        }
    }

    .animated-bg-btn {
        --bg-angle: 0deg;
        animation: spinx 2.5s infinite linear;
        --inner-bg: white;

        background: conic-gradient(from var(--bg-angle), var(--inner-bg), #0077ff, var(--inner-bg));
        background-size: 200% 200%;
        border: none;
        border-radius: 0.375rem;
        /* Matches Tailwind's rounded-md */
        color: white;

    }

    .max-height-inherit-children * {
        max-height: inherit;
    }

    /* in your global CSS or component module */
    .textarea-truncate {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .textarea-truncate::placeholder {
        /* make sure the placeholder itself is also clamped */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    :root {
        timeline-scope: --scroll;
        animation: --scroll forwards;
        animation-timeline: --scroll;
        container-name: --scroll;
        /* needed for style query */
    }

    .box {
        scroll-timeline: --scroll;
    }

    @keyframes --scroll {

        0%,
        to {
            --scroll: 1;
        }
    }

    /* style query is not mandatory
         --scroll variable is inherited by all the elements
         so you can use it to do calculation as well
      */


    .overflow-container-guide {
        display: none !important;
    }

    @container --scroll style(--scroll: 1) {

        .overflow-container-guide {
            display: flex !important;
        }
    }



}

@keyframes spinx {
    to {
        --bg-angle: 360deg;
    }
}



@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes typing {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes typing-demure {
    0% {
        transform: scale(1);
    }

    33% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulseAnimate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes bounceAnimate {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-3px);
    }
}