@import "@yaireo/tagify/dist/tagify.css";

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* prevent dragging rects with iframe to loose mouse events to the iframe */
.react-draggable-transparent-selection iframe {
    pointer-events: none !important;
}

/* prevent resizing rects with iframe to loose mouse events to the iframe */
.resizing.react-resizable iframe {
    pointer-events: none !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


/*
@layer base {
    input {
        @apply font-sans,
        /
        dark: text-white;
        @apply bg-netrual-50,
        bg-neutral-950; 

    }

 
}*/

@layer base {

    input {
        @apply text-black;
        @apply dark:text-white;
        @apply bg-white;
        @apply dark:bg-black;
    }

    body {
        @apply text-neutral-950;
        @apply dark:text-neutral-50;
        @apply bg-neutral-50;
        @apply dark:bg-neutral-950;
    }
    span {
        @apply text-neutral-950;
        @apply dark:text-neutral-50;
    }
}


@layer components {
    .icon {
        @apply text-neutral-950;
        @apply dark:text-neutral-50;
    }
       
    .btn {
        @apply  py-2 px-4 rounded;
    }
    
    .btn-icon {
        @apply text-neutral-800;
        @apply dark:text-neutral-200;
    }
    .btn:hover {
        @apply bg-primary-200;
        @apply dark:bg-primary-400;

    }
    
    .btn:active{
        @apply bg-primary-400;
        @apply dark:bg-primary-600;
   }

    .btn-icon:hover {
        @apply bg-primary-200;
        @apply dark:bg-primary-400;

    }
    .btn-icon:active{
        @apply bg-primary-400 !important;
        @apply dark:bg-primary-600 !important;
       
    }

    .btn-icon {
        @apply py-2 px-2 rounded-md;
    }

    .btn-toggle {
        box-shadow: 0 4px #999;
        outline: none;
        @apply border-[1px] border-neutral-600 dark:border-neutral-400 border-solid;
    }
    .btn-toggle[data-state='on'] {
        @apply bg-primary-400;
        @apply dark:bg-primary-600;
        box-shadow: 0 1px #666 !important;
        transform: translateY(4px) !important;
    }

 
    .btn-toggle:focus {
        
       /*  box-shadow: 0 0 0 2px black; */
        outline: none;
    }

    .btn-elevated {
        outline: none;
        box-shadow: 0 4px #999;
        @apply border-[1px] border-neutral-600 dark:border-neutral-400 border-solid;
    }

    .btn-elevated:active 
    {
        box-shadow: 0 1px #666 !important;
        transform: translateY(4px) !important;
    }

    .btn-icon-sx>* {
        @apply w-4 h-4
    }
    
    .btn-icon-md>* {
        @apply w-6 h-6
    }
    
    .btn-icon-lg>* {
        @apply w-6 h-6
    }
    
    .btn-icon-lg>* {
        @apply w-8 h-8
    }
   
 
    .content-container {
        height: calc(100vh - 60px);
    }
   
    
 
}


.tagify {
 /*    flex-wrap: nowrap;
    overflow: auto; */
    border-radius: 1rem;
    display: flex;
    align-items: center;

    --tag-bg: transparent;
    --tag-border-radius: 0.75rem;
    --tag-hover:  theme('colors.primary.200');
    --tags-focus-border-color: theme('colors.primary.400');
    --placeholder-color:  theme('colors.neutral.400');
    /*     --tags-border-color: transparent; */
}

/* .tags-input > * 
{
    width: calc(100vw - 150px);
} */
.tagify__tag {
    @apply border-neutral-200 dark:border-neutral-400 border-solid border-[2px] rounded-xl;
}
.tagify__tag__removeBtn
{
  @apply dark:text-white
}


.react-grid-placeholder {
    @apply bg-secondary-400 !important
}

.tagify__tag-text, .tagify__input {
	white-space: nowrap !important;
} 


/* .tagify__input
{
    @apply before:opacity-100 !important
} */

