body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* prevent dragging rects with iframe to loose mouse events to the iframe */
.react-draggable-transparent-selection iframe {
    pointer-events: none !important;
}

/* prevent resizing rects with iframe to loose mouse events to the iframe */
.resizing.react-resizable iframe {
    pointer-events: none !important;
}